venv/
__pycache__/
*.pyc

.env

*.db
*.sqlite
*.sqlite3

.ipynb_checkpoints/

#output/*.csv

.vscode/

.DS_Store

*.log


# Sprint 3 outputs
output/*.xlsx
output/radar_charts/

# Python cache
__pycache__/
*.pyc.freebuff/ 
